# Godot
.godot/
.import/

# Logs/tools Godot locaux (ne pas versionner)
godot/app_userdata/
godot/mono/build_logs/

# Godot export presets
export.cfg

# Build outputs (ne pas versionner)
builds/

# C# / .NET
bin/
obj/

# IDE
.vs/
.idea/

# OS / divers
*.tmp
*.log
.DS_Store
